services:
  db:
    image: postgres
    container_name: nagiev-db
    restart: on-failure
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nagievdb
    ports:
      - "5432:5432"