services:
  db:
    image: postgres
    container_name: nagiev-db
    restart: on-failure
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nagievdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend
  app:
    build: ./app
    container_name: java_app

    depends_on:
      - db
    ports:
      - "8080:8080"
    networks:
      - backend

networks:
  backend:

volumes:
  pgdata: